

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

h1{
    font-family: "Inter", sans-serif;
    margin-top: 45px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    color: black;
}