<!--  <h2  *ngIf="!isChange" mat-dialog-title>Informações</h2> -->
<!-- <h2  *ngIf="isChange" mat-dialog-title>Editar Informações</h2> --> 

<!-- *ngIf não funcionou, a solução foi usar uma feature mais atual do Angular o @if e @else -->

@if(isChange){
  <h2  mat-dialog-title>Editar Informações</h2>
} @else {
  <h2  mat-dialog-title>Informações</h2>
}


<mat-dialog-content>

  <mat-form-field>
    <mat-label>Posição</mat-label>
    <input matInput [(ngModel)]="data.ordem">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Número</mat-label>
    <input matInput [(ngModel)]="data.number">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Voltar</button>
  
  @if(isChange){
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Editar</button> 
  } @else {
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Adicionar</button> 
  }

</mat-dialog-actions>
